@use '../app';

button {
  background-color: app.$primary-color;
  border: none;
  color: white;
  padding: 8px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
}
